@use '../abstract/reset';
@use '../abstract/variaveis';
@use '../abstract/mixins';

.banner {
    background-image: variaveis.$degrade-menu;
    text-align: center;
    padding: 32px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;


    .banner__titulo {
        @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 1.4rem, 700, variaveis.$ft-branco);
        font-size: clamp(1em, 1.2em + 1vw, 2.3em);
    }

    .banner__texto {
        @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 1rem, 500, variaveis.$ft-branco);
        font-size: clamp(.5em, 1em + .5vw, 1.7em);



    }

    .banner__pesquisa {
        padding: 1em;

        border: 1px solid variaveis.$branco;
        border-radius: 70px;
        background-color: transparent;
        color: variaveis.$branco;
        width: 80%;
        margin: 0 auto;

        

        &::placeholder {
            color: variaveis.$branco;
            @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 2vw, 400, variaveis.$ft-branco);
            font-size: clamp(.5em, 1em + .5vw, 1.7em);
            background: url(../assets/Lupa.svg);
            background-repeat: no-repeat;
            background-position: 1em;
            text-align: center;
        }
    }
}

.banner-topicos {
    background-image: variaveis.$degrade-menu;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;


    .banner-topicos__titulo {
        @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 18px, 300, variaveis.$ft-branco);
        padding: 10px;
    }

    .banner-topicos__itens {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .banner-topicos__item {
            margin: .3em;
            text-align: center;
            text-decoration: none;
            background-color: variaveis.$laranja;
            border: none;
            padding: 20px;

            a {
                @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 16px, 700, variaveis.$ft-branco);
                font-size: clamp(.5em, 1em + .5vw, 1.7em);
                text-decoration:none;
            }
        }
    }
    
}


.banner-email {
    background: variaveis.$branco;
    padding: 32px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;


    .banner-email__titulo {
        @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 18px, 700, variaveis.$ft-azul);
        font-size: clamp(1em, 1.2em + 1vw, 2.3em);
    }

    .banner-email__texto {
        @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 16px, 500, variaveis.$ft-azul);
        @include mixins.fonte-degrade();
        font-size: clamp(.5em, 1em + .5vw, 1.7em);
        margin-top: 10px;
    }

    .banner-email__pesquisa {
        padding: 1em;

        border: 1px solid variaveis.$azul;
        border-radius: 70px;
        background-color: transparent;
        color: variaveis.$azul;
        width: 85%;

        

        &::placeholder {
            color: variaveis.$azul;
            @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 14px, 400, variaveis.$ft-azul);
            font-size: clamp(.5em, 1em + .5vw, 1.7em);
            background: url(../assets/Email.svg);
            background-repeat: no-repeat;
            background-position: 1em;
            text-align: center;
        }
    }
}


@media screen and (min-width: 1024px) {
    .banner {
        height: 330px;
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
        .banner__titulo {
            font-size: clamp(1em, 1.5em + 1vw, 3em);
        }

        .banner__texto {
            font-size: clamp(1em, 1.2em + 1vw, 2.3em);
        }

        .banner__pesquisa {
            width: 50%;
            height: 60px;
        }

        &::placeholder {
            @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 20px, 400, variaveis.$ft-branco);
            font-size: clamp(.7em, 1em + 1vw, 2em);

        }
    }


    .banner-topicos {
        background-image: variaveis.$degrade-menu;
        text-align: center;
        padding: 10px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    
    
        .banner-topicos__titulo {
            @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 25px, 300, variaveis.$ft-branco);
            font-size: clamp(1em, 1.5em + 1vw, 3em);
            padding: 10px;
        }
    
        .banner-topicos__itens {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
    
            .banner-topicos__item {
                margin: .5em;
                text-align: center;
                text-decoration: none;
                background-color: variaveis.$laranja;
                border: none;
                padding: 20px;
    
                a {
                    @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 23px, 700, variaveis.$ft-branco);
                    font-size: clamp(.7em, 1em + 1vw, 2em);
                    text-decoration:none;
                }
            }
        }
    }

    .banner-email {
        background: variaveis.$branco;
        padding: 32px 30px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        height: auto;
    
    
        .banner-email__titulo {
            @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 22px, 700, variaveis.$ft-azul);
            font-size: clamp(1em, 1em + 1vw, 3em);
        }
    
        .banner-email__texto {
            @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 20px, 500, variaveis.$ft-azul);
            @include mixins.fonte-degrade();
            font-size: clamp(1em, .5em + 1vw, 2em);
        }
    
        .banner-email__pesquisa {
            padding: 1em;
            width: 50%;
            border: 1px solid variaveis.$azul;
            border-radius: 70px;
            background-color: transparent;
            color: variaveis.$azul;
    
            
    
            &::placeholder {
                color: variaveis.$azul;
                @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 14px, 400, variaveis.$ft-azul);
                font-size: clamp(.7em, 1em + 1vw, 2em);
                background: url(../assets/Email.svg);
                background-repeat: no-repeat;
                background-position: 1em;
                text-align: center;
            }
        }
    }
}