@use '../abstract/reset';
@use '../abstract/variaveis';
@use '../abstract/mixins';


.card {
    background-color: variaveis.$branco;
    margin: 20px;
    margin-top: 0;
    padding: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.164);
    border-radius: 15px;

    .card__descricao {
        display: flex;
        
        justify-content: space-between;
        margin-bottom: 30px;

        .descricao {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .descriacao__estrelas-titulo {
                width: 50%;
            }

            .descricao__titulo {
                margin: .3em 0;
                @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 15px, 700, variaveis.$ft-laranja);
            }

            .descricao__titulo-livro {
                margin: .3em 0;
                @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 15px, 700, variaveis.$ft-azul);
            }

            .descricao__texto {
                margin: .3em 0;
                @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 13px, 400, variaveis.$ft-azul);
            }

            .descricao__imagem {
                width: 100%;
            }
        }
    }
    
    .card__botoes {
        display: flex;
        justify-content: space-between;
        padding: 0 .1em;

        .botoes {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            margin-left: 10px;
        }

        .card__ancora {
            text-align: center;
            text-decoration: none;
            background-color: variaveis.$laranja;
            border: none;
            padding: 20px 34px;
            @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 16px, 700, variaveis.$ft-branco)
        }
    }
}