@use '../abstract/reset';
@use '../abstract/variaveis';
@use '../abstract/mixins';


.rodape {
    padding: 20px;
    border-top: 1px solid variaveis.$azul;
    background-color: variaveis.$branco;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    .rodape__texto {
        @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 18px, 400, variaveis.$ft-azul);
        font-size: clamp(.1rem, 1.3rem + 1vw, 2.5rem);
        @include mixins.fonte-degrade();
    }

    .rodape__container {
        display: flex;
        width: 80%;
        justify-content: flex-end;
        gap: 50px;

        
        .rodape__links {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .rodape__links__titulo {
                @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 14px, 400, variaveis.$ft-cinza-light);
                font-size: clamp(.5rem, .7rem + 1vw, 1.5rem);
                margin-bottom: 20px;
            }

            .rodape__links__item {
                width: 100%;

                img {
                    width: 3vw;
                }
                
                a {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    text-decoration: none;
                    @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 14px, 400, variaveis.$ft-cinza-dark);
                    font-size: clamp(.5rem, .7rem + 1vw, 1.5rem);
                }
            }
        }
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .rodape {
        align-items: flex-start;
        padding: 50px 30px;

        .rodape__texto {
            font-size: 24px;
            font-size: clamp(.1rem, 1.3rem + 1vw, 2.5rem);
        }

        .rodape__container {
            display: flex;
        }
    }
}