@use '../abstract/reset';
@use '../abstract/variaveis';
@use '../abstract/mixins';


.cabecalho {
    background-color: variaveis.$branco;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px;



    .container {
        display: flex;
        align-items: center;

        .lista-menu {
            display: none;
            position: absolute;
            top: 100%;
            background-color: variaveis.$branco;
            padding: 24px 24px 16px 24px;
            width: 60vw;
            box-shadow: 0px 20px 20px #00000013 ;
            z-index: 2;

            .lista-menu__titulo {
                padding: 16px;
                @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 16px, 700, variaveis.$ft-laranja);
            }

            .lista-menu__item {
                padding: 16px;
                .lista-menu__link {
                    @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 16px, 500, variaveis.$ft-azul);
                    text-decoration: none;
                    text-transform: uppercase;
                    background: variaveis.$degrade-menu;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    
                }
            }
        }

        .container__botao {
            display: none;
        }

        .container__botao:checked ~ .lista-menu{
            display: block;
        }

        
    }
    

    .container__imagem {
        margin: 1em;
    }

    .cabecalho__menu-hamburguer {
        width: 32px;
        height: 24px;
        background-image: url(../assets/Menu.svg);
        display: inline-block
        
    }
}
.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}



@media screen and (min-width: 1024px) {
    .cabecalho {

        .container__botao {
            display: none;
        }
        .lista-menu {
            display: none;
            position: absolute;
            top: 100%;
            background-color: variaveis.$branco;
            padding: 0;
            box-shadow: 0px 20px 20px #00000013 ;
            z-index: 2;

            .lista-menu__item {
                padding: 20px 40px;
                .lista-menu__link {
                    @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 26px, 500, variaveis.$ft-azul);
                    text-decoration: none;
                    text-transform: uppercase;
                    
                    
                }
            }
        }

        .container__botao:checked ~ .lista-menu {
            display: block;
        }

        .cabecalho__menu-hamburguer {
           display: none
        } 

        .container__titulo {
            @include mixins.ff-fs-fw-c(variaveis.$ft-titulo, 30px, 400, variaveis.$preto);
            height: 80%;
            display: flex;
            align-items: center;
            padding-top: 15px;
    
            .negrito {
                font-weight: 700;
            }
        }
    
            .opcoes {
                display: flex;
                align-items: center;
                gap: 30px;

                .opcoes__item , .opcoes__link{
                    text-decoration: none;
                    @include mixins.ff-fs-fw-c(variaveis.$ft-textos, 26px, 400, variaveis.$ft-preto);
                    text-transform: uppercase;
                }
            }
        .coracao {
            display: none;
        }
        }
    }
