@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #EBECEE;
}
body h1 {
  background-color: #FFFFFF;
}

.cabecalho {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px;
}
.cabecalho .container {
  display: flex;
  align-items: center;
}
.cabecalho .container .lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #FFFFFF;
  padding: 24px 24px 16px 24px;
  width: 60vw;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.0745098039);
  z-index: 2;
}
.cabecalho .container .lista-menu .lista-menu__titulo {
  padding: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #EB9B00;
}
.cabecalho .container .lista-menu .lista-menu__item {
  padding: 16px;
}
.cabecalho .container .lista-menu .lista-menu__item .lista-menu__link {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #002f52;
  text-decoration: none;
  background: linear-gradient(97deg, #002F52, #326589);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.cabecalho .container .container__botao {
  display: none;
}
.cabecalho .container .container__botao:checked ~ .lista-menu {
  display: block;
}
.cabecalho .container__imagem {
  margin: 1em;
}
.cabecalho .logo {
  width: 40px;
}
.cabecalho .cabecalho__menu-hamburguer {
  width: 32px;
  height: 24px;
  background-image: url(../assets/Menu.svg);
  display: inline-block;
}

.container__titulo {
  display: none;
}

.opcoes {
  display: none;
}

@media screen and (min-width: 1024px) {
  .cabecalho .container__botao {
    display: none;
  }
  .cabecalho .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #FFFFFF;
    padding: 0;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.0745098039);
    z-index: 2;
  }
  .cabecalho .lista-menu .lista-menu__item {
    padding: 20px 40px;
  }
  .cabecalho .lista-menu .lista-menu__item .lista-menu__link {
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: #002f52;
    text-decoration: none;
  }
  .cabecalho .container__botao:checked ~ .lista-menu {
    display: block;
  }
  .cabecalho .cabecalho__menu-hamburguer {
    display: none;
  }
  .cabecalho .container__titulo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #000000;
    font-size: clamp(0.1rem, 1.3rem + 1vw, 2rem);
    height: 80%;
    display: flex;
    align-items: center;
    padding-top: 15px;
  }
  .cabecalho .container__titulo .negrito {
    font-weight: 700;
  }
  .cabecalho .opcoes {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .cabecalho .opcoes .opcoes__item, .cabecalho .opcoes .opcoes__link {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
    font-size: clamp(0.1rem, 1.3rem + 1vw, 1.7rem);
  }
  .cabecalho .coracao {
    display: none;
  }
}
@media screen and (min-width: 1728px) {
  .cabecalho .container .container__titulo {
    padding: 0;
    font-size: clamp(0.7rem, 0.1rem + 1vw, 3rem);
  }
  .cabecalho .opcoes {
    margin-right: auto;
    margin-left: 20px;
  }
  .cabecalho .opcoes .opcoes__item, .cabecalho .opcoes .opcoes__link {
    font-size: clamp(0.7rem, 0.1rem + 1vw, 3rem);
  }
}
.banner {
  background-image: linear-gradient(97deg, #002F52, #326589);
  text-align: center;
  padding: 32px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
}
.banner .banner__titulo {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
  font-size: clamp(1em, 1.2em + 1vw, 2.3em);
}
.banner .banner__texto {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  font-size: clamp(0.5em, 1em + 0.5vw, 1.7em);
}
.banner .banner__pesquisa {
  padding: 1em;
  border: 1px solid #FFFFFF;
  border-radius: 70px;
  background-color: transparent;
  color: #FFFFFF;
  width: 80%;
  margin: 0 auto;
}
.banner .banner__pesquisa::-moz-placeholder {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(0.5em, 1em + 0.5vw, 1.7em);
  background: url(../assets/Lupa.svg);
  background-repeat: no-repeat;
  background-position: 1em;
  text-align: center;
}
.banner .banner__pesquisa::placeholder {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  color: #ffffff;
  font-size: clamp(0.5em, 1em + 0.5vw, 1.7em);
  background: url(../assets/Lupa.svg);
  background-repeat: no-repeat;
  background-position: 1em;
  text-align: center;
}

.banner-topicos {
  background-image: linear-gradient(97deg, #002F52, #326589);
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
}
.banner-topicos .banner-topicos__titulo {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  padding: 10px;
}
.banner-topicos .banner-topicos__itens {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.banner-topicos .banner-topicos__itens .banner-topicos__item {
  margin: 0.3em;
  text-align: center;
  text-decoration: none;
  background-color: #EB9B00;
  border: none;
  padding: 20px;
}
.banner-topicos .banner-topicos__itens .banner-topicos__item a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  font-size: clamp(0.5em, 1em + 0.5vw, 1.7em);
  text-decoration: none;
}

.banner-email {
  background: #FFFFFF;
  padding: 32px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
}
.banner-email .banner-email__titulo {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #002f52;
  font-size: clamp(1em, 1.2em + 1vw, 2.3em);
}
.banner-email .banner-email__texto {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #002f52;
  background: linear-gradient(97deg, #002F52, #326589);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: clamp(0.5em, 1em + 0.5vw, 1.7em);
  margin-top: 10px;
}
.banner-email .banner-email__pesquisa {
  padding: 1em;
  border: 1px solid #002F52;
  border-radius: 70px;
  background-color: transparent;
  color: #002F52;
  width: 85%;
}
.banner-email .banner-email__pesquisa::-moz-placeholder {
  color: #002F52;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #002f52;
  font-size: clamp(0.5em, 1em + 0.5vw, 1.7em);
  background: url(../assets/Email.svg);
  background-repeat: no-repeat;
  background-position: 1em;
  text-align: center;
}
.banner-email .banner-email__pesquisa::placeholder {
  color: #002F52;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #002f52;
  font-size: clamp(0.5em, 1em + 0.5vw, 1.7em);
  background: url(../assets/Email.svg);
  background-repeat: no-repeat;
  background-position: 1em;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 330px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }
  .banner .banner__titulo {
    font-size: clamp(1em, 1.5em + 1vw, 3em);
  }
  .banner .banner__texto {
    font-size: clamp(1em, 1.2em + 1vw, 2.3em);
  }
  .banner .banner__pesquisa {
    width: 50%;
    height: 60px;
  }
  .banner::-moz-placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    font-size: clamp(0.7em, 1em + 1vw, 2em);
  }
  .banner::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    font-size: clamp(0.7em, 1em + 1vw, 2em);
  }
  .banner-topicos {
    background-image: linear-gradient(97deg, #002F52, #326589);
    text-align: center;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .banner-topicos .banner-topicos__titulo {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    font-size: clamp(1em, 1.5em + 1vw, 3em);
    padding: 10px;
  }
  .banner-topicos .banner-topicos__itens {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .banner-topicos .banner-topicos__itens .banner-topicos__item {
    margin: 0.5em;
    text-align: center;
    text-decoration: none;
    background-color: #EB9B00;
    border: none;
    padding: 20px;
  }
  .banner-topicos .banner-topicos__itens .banner-topicos__item a {
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #ffffff;
    font-size: clamp(0.7em, 1em + 1vw, 2em);
    text-decoration: none;
  }
  .banner-email {
    background: #FFFFFF;
    padding: 32px 30px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    height: auto;
  }
  .banner-email .banner-email__titulo {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #002f52;
    font-size: clamp(1em, 1em + 1vw, 3em);
  }
  .banner-email .banner-email__texto {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #002f52;
    background: linear-gradient(97deg, #002F52, #326589);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: clamp(1em, 0.5em + 1vw, 2em);
  }
  .banner-email .banner-email__pesquisa {
    padding: 1em;
    width: 50%;
    border: 1px solid #002F52;
    border-radius: 70px;
    background-color: transparent;
    color: #002F52;
  }
  .banner-email .banner-email__pesquisa::-moz-placeholder {
    color: #002F52;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #002f52;
    font-size: clamp(0.7em, 1em + 1vw, 2em);
    background: url(../assets/Email.svg);
    background-repeat: no-repeat;
    background-position: 1em;
    text-align: center;
  }
  .banner-email .banner-email__pesquisa::placeholder {
    color: #002F52;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #002f52;
    font-size: clamp(0.7em, 1em + 1vw, 2em);
    background: url(../assets/Email.svg);
    background-repeat: no-repeat;
    background-position: 1em;
    text-align: center;
  }
}
@media screen and (min-width: 1728px) {
  .banner .banner__titulo {
    font-size: clamp(0.1em, 1em + 1vw, 3em);
  }
  .banner .banner__texto {
    font-size: clamp(0.1em, 0.5em + 1vw, 2em);
  }
  .banner::-moz-placeholder {
    font-size: clamp(0.1em, 0.5em + 1vw, 2em);
  }
  .banner::placeholder {
    font-size: clamp(0.1em, 0.5em + 1vw, 2em);
  }
}
.carrossel .carrossel__titulo {
  color: #EB9B00;
  background: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  padding: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #EB9B00;
  font-size: clamp(1em, 1.2em + 1vw, 2.3em);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.014);
}
.carrossel .swiper-wrapper .swiper-slide img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
}
.carrossel .swiper-button-prev, .carrossel .swiper-button-next {
  display: none;
}
.carrossel .swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}
@media screen and (min-width: 1024px) {
  .carrossel .carrossel__titulo {
    font-size: clamp(1em, 1.5em + 1vw, 3em);
  }
  .carrossel .swiper {
    width: 50%;
    border-radius: 20px;
  }
  .carrossel .swiper .swiper-slide {
    display: flex;
    justify-content: center;
  }
  .carrossel .swiper .swiper-slide img {
    width: 75%;
  }
  .carrossel .swiper-button-prev, .carrossel .swiper-button-next {
    display: block;
  }
}

@media screen and (min-width: 1728px) {
  .carrossel .carrossel__titulo {
    font-size: clamp(0.001em, 0.5em + 1vw, 3em);
  }
  .carrossel .carrossel__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .carrossel .carrossel__container .swiper {
    width: 35%;
  }
  .carrossel .carrossel__container .card {
    height: 390px;
  }
}
.card {
  background-color: #FFFFFF;
  margin: 20px;
  margin-top: 0;
  padding: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.164);
  border-radius: 15px;
}
.card .card__descricao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.card .card__descricao .descricao {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}
.card .card__descricao .descricao .descricao__estrelas-titulo {
  width: 50%;
}
.card .card__descricao .descricao .descricao__titulo {
  margin: 0.3em 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #EB9B00;
  font-size: clamp(0.9em, 1.1em + 1vw, 1.7em);
}
.card .card__descricao .descricao .descricao__titulo-livro {
  margin: 0.3em 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #002f52;
  font-size: clamp(0.8em, 1em + 1vw, 1.6em);
}
.card .card__descricao .descricao .descricao__texto {
  margin: 0.3em 0;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #002f52;
  font-size: clamp(0.7em, 0.9em + 1vw, 1.5em);
}
.card .card__descricao .descricao .descricao__imagem {
  max-width: 100%;
}
.card .card__botoes {
  display: flex;
  justify-content: space-between;
  padding: 0 0.1em;
}
.card .card__botoes .botoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-left: 10px;
}
.card .card__botoes .card__ancora {
  text-align: center;
  text-decoration: none;
  background-color: #EB9B00;
  border: none;
  padding: 20px 34px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  font-size: clamp(0.7em, 0.9em + 1vw, 1.5em);
}

@media screen and (min-width: 1024px) {
  .card {
    width: 50%;
    margin: 20px auto;
  }
  .card .descricao__titulo {
    margin: 0.3em 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #EB9B00;
    font-size: clamp(1.2em, 1.3em + 1vw, 2em);
  }
  .card .descricao__titulo-livro {
    margin: 0.3em 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #002f52;
    font-size: clamp(1m, 1.3em + 1vw, 1.8em);
  }
  .card .descricao__texto {
    margin: 0.3em 0;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #002f52;
    font-size: clamp(0.7em, 0.9em + 1vw, 1.5em);
  }
  .banner-email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
  }
  .banner-email .banner-email__texto {
    max-width: 400px;
  }
  .banner-email .banner-email__email {
    width: 50%;
  }
  .banner-email .banner-email__email .banner-email__pesquisa {
    width: 100%;
  }
}
@media screen and (min-width: 1728px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    margin: 0;
    margin-right: auto;
  }
}
.rodape {
  padding: 20px;
  border-top: 1px solid #002F52;
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rodape .rodape__texto {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #002f52;
  font-size: clamp(0.1rem, 1.3rem + 1vw, 2.5rem);
  background: linear-gradient(97deg, #002F52, #326589);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.rodape .rodape__container {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  gap: 50px;
  display: none;
}
.rodape .rodape__container .rodape__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.rodape .rodape__container .rodape__links .rodape__links__titulo {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #858585;
  font-size: clamp(0.5rem, 0.7rem + 1vw, 1.5rem);
  margin-bottom: 20px;
}
.rodape .rodape__container .rodape__links .rodape__links__item {
  width: 100%;
}
.rodape .rodape__container .rodape__links .rodape__links__item img {
  width: 3vw;
}
.rodape .rodape__container .rodape__links .rodape__links__item a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #474646;
  font-size: clamp(0.5rem, 0.7rem + 1vw, 1.5rem);
}

@media screen and (min-width: 1024px) {
  .rodape {
    align-items: flex-start;
    padding: 50px 30px;
  }
  .rodape .rodape__texto {
    font-size: 24px;
    font-size: clamp(0.1rem, 1.3rem + 1vw, 2.5rem);
  }
  .rodape .rodape__container {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */